body {
	margin: 20px;
}

#tag1, #menu, #subheading, #button, .dropdown, #footer {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#tag1 {
	text-align: center;
	font-size: 200%;
	margin-bottom: 25px;
}

#menu {
	width: 100%;
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 22px;
}

#subheading {
	margin-top: 5px;
	font-size: 18px;
	margin-bottom: 25px;
}

.button {
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
}

.dropdown {
	font-size: 16px;
	margin-left: 10px;
	margin-right: 50px;
}

#Rplot {
	margin-top: 50px;
}

#footer {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}