body {
	margin: 20px;
}

#tag1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom: 100px;
}

#menu {
	margin: auto;
	width: 60%;
	padding: 10px;
	font-family: arial;
}

#Rplot.scianimator.dark {
    width: 500px;
}


/*
#wrap {
   margin: 10px auto;        
   background: #666;
   padding: 10px;
   width: 700px;
}

#logo {
   font-size: 30px;  
   line-height: 40px;    
   padding: 5px;
}
#navWrap {
   height: 30px;
}
#nav {
   padding: 5px;
   background: #999;    
}
#nav ul {
   margin: 0;
   padding: 0;    
}
#nav li {
   float: left;
   padding: 3px 8px;
   background-color: #FFF;
   margin: 0 10px 0 0;
   color: #F00;
   list-style-type: none;
}
#nav li a {
   color: #F00;  
   text-decoration: none;    
}
#nav li a:hover {
   text-decoration: underline;   
}
br.clearLeft {
   clear: left;        
}​
*/